@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="coverText">Welcome</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What we do ?</h2>
        <p>Places to see was meant as a way of discovering more about your city. Select your city from the menu and check out all the reviews for nearby locations.</p>
    </div>
    
</div>